
<div class="container w-100 column" id="main">
        <form (ngSubmit)="updateRecord(record)">
        <div>
            <h2>Title of record:</h2>
            <textarea style="width: 100%" [(ngModel)]="record.title" name="title">
                {{record.title}}
            </textarea>
        </div>
        <div>
            <h2>Intro description of record:</h2>
            <textarea rows="12" cols="70" style="width: 100%" [(ngModel)]="record.description" name="description">
                {{record.description}}
            </textarea>
        </div>
        <div>
            <h2>Record mini image:</h2>
            <img src={{record.miniImagePath}}>
            <app-add-img [record]="record" [isMainImage]="false"></app-add-img>
        </div>
        <div>
            <h2>Record main image:</h2>
            <img src={{record.mainImagePath}}>
            <app-add-img [record]="record" [isMainImage]="true"></app-add-img>
        </div>  
        <div>
            <h2>Main content of record:</h2>
            <textarea rows="20" cols="70" style="width: 100%" [(ngModel)]="record.mainContent" name="mainContent">
                {{record.mainContent}}
            </textarea>
            
        </div>
        <div>
            <h2>Button label for record:</h2>
            <input [(ngModel)]="record.buttonLabel" name="buttonLabel">
            <input type="submit" value="Update record" class="btn bg-primary">
        </div>
    </form>
    <div id="remove" class="ml-5 pl-5">
        <button id="remove" (click)="deleteRecord()" class="bg-danger border-danger">Remove record</button>
    </div>
</div>
<br>
<br>