
<div class="container w-100 column" id="main">
        <h1>New record to add:</h1>
    <br>
  <form (ngSubmit)="addRecord()">
      <input value={{newId}} style="display: none" disabled [(ngModel)]="recordToAdd.id" name="id">
  <div>
      <h2>Title of record:</h2>
      <textarea style="width: 100%" [(ngModel)]="recordToAdd.title" name="title">
      </textarea>
  </div>
  <div>
      <h2>Intro description of record:</h2>
      <textarea rows="12" cols="70" style="width: 100%" [(ngModel)]="recordToAdd.description" name="description">
      </textarea>
  </div>
  <div>
      <h2>Main content of record:</h2>
      <textarea rows="20" cols="70" style="width: 100%" [(ngModel)]="recordToAdd.mainContent" name="mainContent">
      </textarea>
      <input type="submit" value="Add record" class="btn bg-primary btn-lg">
  </div>
</form>
<h2>Click "Add record" and go back to CMS for add images to Your new record!</h2>
<a href="/cms"><button class="btn btn-lg btn-primary">Back to CMS</button></a>
</div>
<br>
<br>
