
<div class="container w-100 column" id="main">
    <form (ngSubmit)="updateRecord(record)">
    <div>
        <h2>Title of gallery:</h2>
        <textarea style="width: 100%" [(ngModel)]="record.title" name="title">
            {{record.title}}
        </textarea>
    </div>
    <div>
        <h2>Intro description of gallery:</h2>
        <textarea rows="12" cols="70" style="width: 100%" [(ngModel)]="record.description" name="description">
            {{record.description}}
        </textarea>
    </div>
    <div>
        <h2>Gallery intro mini image:</h2>
        <img src={{record.miniImagePath}}>
        <app-add-img [record]="record" [isMainImage]="false"></app-add-img>
    </div>
    <div>
        <h2>Button label for gallery:</h2>
        <input [(ngModel)]="record.buttonLabel" name="buttonLabel">
        <input type="submit" value="Update record" class="btn bg-primary">
    </div>
</form>
<br>
<br>
<a href="cms/gallerycms"><button id="add-images" class="btn-warning btn btn-lg">
    Edit images in gallery
</button>
</a>
</div>
<br>
<br>
