<div class="w-100 flex-row justify-content-center">
  <div>
    <div class="container w-100">
        <div class="row justify-content-center text-white">
          <div class="col-12 col-md-10">
            <div id="content" class="border border-dark rounded flex-column align-items-center p-sm-5 m-sm-5 mt-5">
              <h1 style="white-space: pre-wrap;" class="m-3">{{contact.title}}</h1>
              <br>
              <p style="white-space: pre-wrap;" class="m-3">{{contact.description}}</p>
              <br>
              <div class="w-100">
                <img class="mini" src={{contact.mainImagePath}}>
              </div>
              <br>
              <h3 style="white-space: pre-wrap;" class="m-3">{{contact.mainContent}}</h3>
              <br>
              <h2 class="text-dark">Or send email now by below form!</h2>
              <br>
              <a href="/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Back to main site</a>
            </div>
          </div>
        </div>
      </div>
  </div>
  <br><br>
  <div class="container w-100" id="form-div">
      <div class="row">
          <div class="col-md-12 col-md-offset-3" id="form-div">
            <div class="well well-sm">
              <form class="form-horizontal" (ngSubmit)="sendEmail()">
              <fieldset>
                <legend class="text-center mt-5">Contact us</legend>
        
                <div class="form-group">
                  <label class="col-md-3 control-label" for="email">Your E-mail</label>
                  <div class="col-md-12">
                    <input id="email" name="email" type="text" placeholder="Your email" [(ngModel)]="email.email" class="form-control">
                  </div>
                </div>
        
                <div class="form-group">
                  <label class="col-md-3 control-label" for="message">Your message</label>
                  <div class="col-md-12">
                    <textarea class="form-control" id="message" name="message" [(ngModel)]="email.message" placeholder="Please enter your message here..." rows="5"></textarea>
                  </div>
                </div>

                <div class="form-group">
                    <label class="col-md-12 control-label" for="quest">
                      How many legs does a dog have?
                      (Please answer - we must check if You aren't robot)
                    </label>
                    <div class="col-md-12">
                      <input id="quest" name="quest" type="text" placeholder="Enter a number" [(ngModel)]="quest" class="form-control">
                    </div>
                  </div>
        
                <div class="form-group">
                  <div class="col-md-6 text-right">
                    <button type="submit" class="btn btn-primary btn-lg">Send</button>
                  </div>
                </div>
              </fieldset>
              </form>
            </div>
          </div>
      </div>
    </div>
</div>
