<section class="my-5">
    <h2 class="h1-responsive font-weight-bold text-center my-5 text-white">Contact us</h2>
  
    <p style="white-space: pre-wrap;" class="text-center w-responsive mx-auto mb-5 text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam
      eum porro a pariatur veniam.</p>
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-md-9 mb-md-0 mb-5 m-5 pl-5">
  
        <form>
  
          <!-- Grid row -->
          <div class="row">
  
            <!-- Grid column -->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" id="contact-name" class="form-control">
                <label for="contact-name" class="text-white">Your name</label>
              </div>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" id="contact-email" class="form-control">
                <label for="contact-email" class="text-white">Your email</label>
              </div>
            </div>
            <!-- Grid column -->
  
          </div>
          <!-- Grid row -->
  
          <!-- Grid row -->
          <div class="row">
  
            <!-- Grid column -->
            <div class="col-md-12">
              <div class="md-form mb-0">
                <input type="text" id="contact-Subject" class="form-control">
                <label for="contact-Subject" class="text-white">Subject</label>
              </div>
            </div>
            <!-- Grid column -->
  
          </div>
          <!-- Grid row -->
  
          <!-- Grid row -->
          <div class="row">
  
            <!-- Grid column -->
            <div class="col-md-12">
              <div class="md-form">
                <textarea id="contact-message" class="form-control md-textarea" rows="3"></textarea>
                <label class="text-white" for="contact-message">Your message</label>
              </div>
            </div>
            <!-- Grid column -->
  
          </div>
          <!-- Grid row -->
  
        </form>
  
        <div class="text-center text-md-center">
          <a class="btn btn-primary btn-md text-white">Send</a>
        </div>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-md-3 text-center mt-5 pl-5 ml-5">
        <ul class="list-unstyled mb-0">
          <li>
            <i class="fas fa-map-marker-alt fa-2x text-white"></i>
            <p class="mb-0 text-white">San Francisco, CA 94126, USA</p>
          </li>
          <li>
            <i class="fas fa-phone fa-2x mt-4 text-white"></i>
            <p class="mb-0 text-white">+ 01 234 567 89</p>
          </li>
          <li>
            <i class="fas fa-envelope fa-2x mt-4 text-white"></i>
            <p class="mb-0 text-white">contact@example.com</p>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
  </section>
  <router-outlet></router-outlet>
  <!-- Section: Contact v.2 -->
